body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #fefefe; 
    font-family: 'Courrier New';
    font-weight: 400;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-right: 0%;
}

.blur{
     filter: blur(4px)
}

.a {
    text-decoration: none; /* Retire le soulignement par défaut */
    color: inherit; /* Utilise la couleur par défaut du texte */
    cursor: pointer; /* Change le curseur en main au survol */
}

.triangle {
    display : inline-block;
 height : 0;
 width : 0;
 border-right : 8px solid transparent;
 border-bottom : 14px solid gray;
 border-left : 8px solid transparent;
 position: relative;
}

.triangle:hover {
    border-bottom-color: darkgray; /* Changement de couleur au survol */
}

.triangle.active {
    border-bottom-color: black; /* Changement de couleur au clic */
}

.triangle.active:hover {
   border-bottom-color: black; /* Maintient la couleur noire au survol */
}

.triangle.active:active {
    transform: rotate(35deg); /* Rotation de 35 degrés au clic */
    transition: transform 0.3s; /* Ajout d'une transition pour l'effet de rotation */
}


.triangle-1 {
    top: 30px;
    left: 10px;
    transform: rotate(-20deg);
}

.triangle-2{
    top: 9px;
    left:25px;
    transform: rotate(20deg);
}

.triangle-3{
    top: 51px;
    left:5px;
    transform: rotate(-10deg);
}

.triangle-4{
    top: 28px;
    left:12px;
    transform: rotate(90deg);
}

.triangle-5{
    top: 76px;
    left:-11px;
    transform: rotate(-45deg);
}

.triangle-6{
    transform: rotate(-28deg);
}

.triangle-7{
    top: 0px;
    left:0px;
    transform: rotate(-7deg);
}

.triangle-8{
    top: 3px;
    left:11px;
    transform: rotate(29deg);
}

.triangle-9{
    top: 25px;
    left:-25px;
    transform: rotate(-90deg);
}

.triangle-10{
    top: 12px;
    left:0px;
    transform: rotate(-8deg);
}

.triangle-11{
    top: 0px;
    left:0px;
    transform: rotate(14deg);
}

.triangle-12{
    top: 32px;
    left:-28px;
    transform: rotate(68deg);
}

.triangle-13{
    top: 19px;
    left:-23px;
    transform: rotate(-43deg);
}

.triangle-14{
    top: 4px;
    left:29px;
    transform: rotate(-6deg);
}

.triangle-15{
    top: 17px;
    left:-10px;
    transform: rotate(-38deg);
}

.triangle-16{
    top: 39px;
    left:-22px;
    transform: rotate(-48deg);
}

.triangle-17{
    top: 24px;
    left:-19px;
    transform: rotate(5deg);
}

.triangle-18{
    top: 0px;
    left:0px;
    transform: rotate(26deg);
}

.triangle-19{
    top: 9px;
    left:0px;
    transform: rotate(-11deg);
}

.triangle-20{
    top: 40px;
    left:9px;
    transform: rotate(-40deg);
}

.triangle-21{
    top: 25px;
    left:6px;
    transform: rotate(-30deg);
}

.triangle-22{
    top: 5px;
    left:-2px;
    transform: rotate(11deg);
}

.triangle-23{
    top: 0px;
    left:0px;
    transform: rotate(-5deg);
}



#video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 40%;
    z-index: 0;
}

.small{
    left: 20%;
}

.controls-timeline-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-container {
    position: absolute;
    bottom: 8%;
    left: 926px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideInFromRight 0.5s ease forwards;
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOutToRight 0.5s ease forwards;
}

.small {
    animation: forwards;
    width: 60%;
    left: 30%;
}

@keyframes slideAnimation {
    from {
        left: 28%;
        width: 100%;
        transform: translateX(0%);
    }
    to {
        left: 50%;
        width: 60%;
        transform: translateX(-83%);
    }
}

.slide-timeline {
    animation: slideAnimation 0.5s ease forwards;
}

.timeline {
    margin-left: 20px;
    flex-grow: 1; /* La timeline prend autant d'espace disponible que possible */
    height: 3px;
    background-color: #fff;
    border: 1px solid black;
}

.timeline-progress {
    height: 100%;
    background-color: #000;
}

.stop-button {
    margin-left: 20px; /* Espacement entre la timeline et le bouton stop */
    margin-right: 40px;
    width: 20px;
}

.playbutton{
    margin-left: 64px;
    width: 15px;
}

.playbutton.clicked {
    content: url('play-button-inactive@2x.png');

}

.pausebutton{
    margin-left: 10px;
    width: 15px;
}


.pausebutton.clicked {
    content: url('button_pause_active@2x.png');
}

.hidden {
    display: none;
}

.large-container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    bottom: 15%;
}

.parole-text-container {
  position: absolute;
  bottom: 13%;
  left: 400px;
  width: 400px;
  transform: translateX(-50%);
  text-align: left;
  font-family: 'Courrier New';
  font-weight: 400;
  font-size: 13px;
  color: black;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 650px;
    background: linear-gradient(rgba(78,78,78,1) 0%, rgba(0,0,0) 100%);
    right: 0%;
    top: 0%;
    z-index: 1;
}

.panel{
    position: absolute;
    height: 100%;
    width: 80%;
    right: 10%;
    top: 0%;
    font-family: 'Courrier New';
}

.close-button {
    margin-left: 0px; /* Espacement entre la timeline et le bouton stop */
    margin-right: 10px;
    margin-top: 55px;
    color: white;
    width: 40px;
    height: 40px;
}

.panel-title{
    margin-top: 5%;
    margin-bottom: 7%;
    font-family: 'Courrier New' ;
    letter-spacing: -1px;
    line-height: 1em;
    font-weight: 400 ;
    font-size: 25px;
    color: whitesmoke;
}

.panel-authors{
    margin-top: 10px;
    margin-bottom: 7%;
    font-family: 'Courrier New' ;
    letter-spacing: -0.5px;
    font-weight: 400 ;
    font-size: 16px;
    color: whitesmoke;
}

.panel-summarytitle{
    margin-top: 20%;
    margin-bottom: 0%;
    font-family: 'Courrier New' ;
    letter-spacing: -0.5px;
    font-weight: 400 ;
    font-size: 16px;
    color: whitesmoke;
}

.panel-summary{
    margin-top: 5%;
    font-family: 'Courrier New' ;
    font-weight: 400 ;
    font-size: 13px;
    color: whitesmoke;
}

#panelLink {
    display: inline-block;
    padding: 8px 16px;
    background-color: #303030; /* Couleur de fond gris */
    color: #fff; /* Couleur du texte blanc */
    text-decoration: none; /* Supprimer le soulignement du lien */
    transition: background-color 0.3s ease; /* Animation de transition */
    margin-top: 0%;
    margin-left: 180px;
    align-items: center;
    font-size: 13px;
}

#panelLink:hover {
    background-color: #606060; /* Couleur de fond gris plus foncée au survol */
}

.text-integral{
    position: absolute;
    width: 100%;
    align-items: center;
    bottom: 7%;

}

.flexbox.small{
    left: 30%;
}

.overlay2{
     position: absolute;
    height: 100%;
    width: 350px;
    background: rgb(78,78,78);
    background: linear-gradient(rgba(78,78,78,1) 0%, rgba(0,0,0,1) 100%);
    left: 0%;
    bottom: 0%;
    z-index: 1;
}

.panel2{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: 0%;
}

.close-button2 {
    position: absolute;
    margin-left: 27px; /* Espacement entre la timeline et le bouton stop */
    margin-right: 10px;
    margin-top: 380px;
    color: white;
    width: 40px;
    height: 40px;
}

.panel-title2{
    margin-top: 165%;
    margin-left: 12%;
    margin-right: 5%;
    font-family: "Courrier New" ;
    font-weight: 400 ;
    font-size: 26px;
    color: whitesmoke;
}

.panel-summary2{
    margin-left: 12%;
    margin-right: 5%;
    font-family: "Courrier New" ;
    font-weight: 400 ;
    font-size: 13px;
    color: whitesmoke;
    margin-bottom: 10%;
}

.title1 {
    position: relative;
    top: 22px;
    left: 67px;
    font-family: "Courier New" ;
    font-weight: 400;

    font-size: 49px; 
    color: #4F4F4F;

}

.title2 {
    position: relative;
    top: -11px;
    left: 70px;
    font-family: "Courier New";
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
}

.credit{
    position: relative;
    top: -80px;
    left: 92%;
    cursor: pointer;
    font-family: "Courier New";
    font-weight: 400;
    font-size: 16px;
    color: #4F4F4F;
}

.flexbox-1 {
    position: absolute;
    top: 22%;
    left: 18%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 110px;
}

.flexbox-2 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 42%;
    left: 11%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 17px;
}

.flexbox-3 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 34%;
    left: 7%;
    transform: translate(-50%, -50%);
    width: 54px;
    height: 50px;
}

.flexbox-4 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 56%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 69px;
    height: 58px;
}

.flexbox-5 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 46%;
    left: 34%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
}

.flexbox-6 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 35%;
    left: 29%;
    transform: translate(-50%, -50%);
    width: 44px;
    height: 42px;
}

.flexbox-7 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 68%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 88px;
    height: 70px;
}

.flexbox-8 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 72%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-9 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 32%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-10 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 53%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-11 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 45%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-12 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 71%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-13 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 57%;
    left: 76%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-14 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-15 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 78%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-16 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 26%;
    left: 82%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}

.flexbox-17 {
    /* Styles de positionnement pour la première flexbox */
    position: absolute;
    top: 43%;
    left: 76%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 90px;
}
